{% extends 'polls/base.html' %}
{% load static %}
{% block header %}
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">
        <a class="navbar-brand" href="{% url 'polls:index' %}">Polls</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation"> <span
                class="navbar-toggler-icon"></span> </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-link {% if request.path == '/polls/' %}active{% endif %}" aria-current="page"
                    href="{% url 'polls:index' %}">Inicio</a>
                {% if user.is_authenticated  and user.is_staff %}
                <a class="nav-link {% if request.path == '/polls/create/' %}active{% endif %}"
                    href="{% url 'admin:index' %}">Administrar</a>
                {% endif %}
            </div>
        </div>

        <ul class="nav d-flex">
            {% if user.is_authenticated %}
            <li class="nav-item"><div class="nav-link">Hola, {{user.first_name}}</div></li>
            <li class="nav-item mx-2">
                <form class="form-inline" action="{% url 'logout' %}?next=/" method="post">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-outline-danger my-0 my-sm-0">Cerrar sesión</button>
                </form>
            </li>                   
            {% else %}
            <li class="nav-item">
                <a href="{% url 'login' %}?next={{request.path}}" class="btn btn-outline-success">Iniciar sesión</a>
            </li>
            {% endif %}
        </ul>        
    </div>
</nav>
{% endblock %}
